.quiz-result {
  @include flexCenter();
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100vw;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-style: $primary-font-style;
  background-color: $basicBackgroundColor;
}

.quiz-rezult-box {
  @include flexCenter();
  justify-content: center;
  text-align: center;
  height: 60vh;
  width: 40vw;
  border: 1px solid red;
  background-color: $internalBackgroundColor;
}
