@mixin flexCenter() {
  display: flex;
  align-items: center;
}

.quiz-page {
  @include flexCenter();
  height: 90vh;
  justify-content: center;
  z-index: 100 !important;
  background-color: $basicBackgroundColor;
  position: relative;
}

.quiz-box {
  @include flexCenter();
  min-height: 50vh;
  padding-bottom: 20px;
  width: 40vw;
  background-color: $internalBackgroundColor;
  flex-direction: column;
  position: relative;
  
}

.quiz-box__visible {
  top: 0;
  margin-top: 30px;
  width: 35vw;
  background-color: $internalBackgroundColor;
}

.quiz-box__hidden {
  top: -150%;
  position: relative;
  transition: all 0.9s ease-in;
  width: 35vw;
  background-color: $internalBackgroundColor;
}

.quiz-box__content .quiz-box__answers {
  background-color: $internalBackgroundColor;
}

.quiz-box__content {
  padding: 0.2rem;
}

.quiz-box__answers {
  padding: 0.3rem;
  img {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
  }
  .btn-answer {
    width: 100%;
    box-shadow: 2px 5px #e0e0e0;
    text-align: left;
    padding-left: 0.6rem;
    cursor: pointer;
  }
}

.answer-container {
  display: flex;
  padding: 5px;
}

.progress {
  z-index: 100;
  width: 100%;
  background-color: $internalBackgroundColor;
}

.bar {
  width: 1%;
  height: 10px;
  background-color: red;
}
