.start-quiz {
  @include flexCenter();
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-style: $primary-font-style;
  background-color: $basicBackgroundColor;
  z-index: 1;
}

//Covering the rising up effect
.start-quiz-box__top {
  @include flexCenter();
  background-color: blue;
  color: blue;
  min-height: 20vh;
  top: 0;
  width: 240vw;
  flex-direction: column;
  z-index: 1;
  position: absolute;
}

.start-quiz-box {
  @include flexCenter();
  justify-content: center;
  text-align: center;
  z-index: 0;
  max-height: 50vh;
  width: 40vw;
  background-color: $internalBackgroundColor;
  button {
    margin-top: 0.5rem;
    height: 20%;
    width: 100%;
    box-shadow: 2px 5px #e0e0e0;
    text-align: center;
    padding-left: 0.6rem;
    cursor: pointer;
  }
}

.start-quiz-box__visible {
  top: 0;
  height: 50vh;
  width: 35vw;
  background-color: $internalBackgroundColor;
}

.start-quiz-box__hidden {
  top: -150%;
  position: relative;
  transition: all 1.9s ease-in;
  height: 50vh;
  width: 35vw;
  background-color: $internalBackgroundColor;
}
