.quiz-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100 !important;
  background-color: blue;
}

.quiz-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  padding-bottom: 20px;
  width: 40vw;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz-box .btn-answer {
  width: 100%;
  -webkit-box-shadow: 2px 5px #e0e0e0;
          box-shadow: 2px 5px #e0e0e0;
  text-align: left;
  padding-left: 0.6rem;
  cursor: pointer;
}

.quiz-box__visible {
  top: 0;
  margin-top: 30px;
  width: 35vw;
  background-color: white;
}

.quiz-box__hidden {
  top: -150%;
  position: relative;
  -webkit-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
  width: 35vw;
  background-color: white;
}

.quiz-box__content .quiz-box__answers {
  background-color: white;
}

.quiz-box__content {
  padding: 0.2rem;
}

.quiz-box__answers {
  padding: 0.3rem;
}

.quiz-box__answers img {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
}

.answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.progress {
  z-index: 100;
  width: 100%;
  background-color: white;
}

.bar {
  width: 1%;
  height: 10px;
  background-color: red;
}

.start-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 100vw;
  font-family: laca sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: blue;
  overflow: hidden;
}

.start-quiz-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
  width: 40vw;
  background-color: white;
}

.start-quiz-box button {
  margin-top: 0.5rem;
  height: 20%;
  width: 100%;
  -webkit-box-shadow: 2px 5px #e0e0e0;
          box-shadow: 2px 5px #e0e0e0;
  text-align: left;
  padding-left: 0.6rem;
  cursor: pointer;
}

.start-quiz-box__visible {
  top: 0;
  height: 50vh;
  width: 35vw;
  background-color: white;
}

.start-quiz-box__hidden {
  top: -150%;
  position: relative;
  -webkit-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
  height: 50vh;
  width: 35vw;
  background-color: white;
}

.quiz-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  width: 100vw;
  text-align: center;
  font-family: laca sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: blue;
}

.quiz-rezult-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 60vh;
  width: 40vw;
  border: 1px solid red;
  background-color: white;
}

html {
  background-color: blue;
}

* {
  font-family: laca sans-serif !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=globals.css.map */