@import './variables';
@import './quiz';
@import './quizStart';
@import './quizResult';

html {
  background-color: $basicBackgroundColor;
}

* {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-style: $primary-font-style;
  margin: 0;
  padding: 0;
  // position: relative;
  // z-index: 101;
}
